# the makefile rsyncs to CC Lyon... don't put it in the repository...
Makefile

*.kdev4
*.fits
*.log
*~
*h5

data
plots
models

__pycache__
.cache


# GRID stuff:
# zipped modules to upload to input sandbox
datapipe.tar.gz
modules.tar.gz


# downloaded OutputSandbox
# (directory name is the run ID, which starts with 12 atm)
12*/

# file lists on the GRID storage system
vo.*


# jupyter checkpoints
.ipynb_checkpoints/

# module egg...
*.egg-info